.exercise-details{
    margin: 50px 10px;
}
.box{
    background-color: lightyellow;
    padding: 5px 10px;
    border-radius: 20px;
}

.box-time{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    font-size: 20px;
}

.color{
    color: darkgray;
    font-size: 15px;
}