.books{
    border: 1px solid gray;
    width: 300px;
    height: 470px;
    border-radius: 15px;
    background-color:lavender;
    padding: 7px;
    position: relative;
}

.books img{
    width: 290px;
    height: 290px;
    border-radius: 20px;
    margin: 5px;
}

.btn-books{
    position: absolute;
    bottom: 8px;
    width: 90%;
    border-radius: 8px;
    padding: 13px;
    left: 15px;
    background-color: coral;
    color: #1d1a1a;
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.btn-books:hover{
    background-color: gold;
}