.sidebar{
    background-color: bisque;
    height: 1200px;
}

.profile{
    display: flex;
    align-items: center;
    padding: 5px;
}

.profile img{
    width: 90px;
    height: 90px;
    margin-right: 5px;
    margin-top: 14px;
    border-radius: 15px;
}

.profile-name{
    font-weight: 700;
    font-size: 17px;
}

.weight-height{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightyellow;
    color: black;
    border-radius: 20px;
    margin: 25px 10px;
}

.bold{
    font-weight: 700;
}